<!DOCTYPE HTML>

<a href="{% url 'index' %}" xmlns="http://www.w3.org/1999/html">Home</a>.
{% load static %}
<html>
	<head>
		<title>Technical Analyzer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{%static 'assets/css/main.css' %}" />
	</head>

	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Technical Analyzer</h1>
					<p>A Free Technical Analysis tool for All</p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>Hey Buddy! Welcome Back!</h2>
						<p>Login and track your portfolio and its price movements as you invest and make money</p>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div>
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                            </div>
                            <div>
                                 <td>{{ form.password.label_tag }}</td>
                                 <td>{{ form.password }}</td>
                            </div>
                        </br>
                        </br>
                            <div>
                                <input type="submit" value="login" />
                                <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                        </form>
					</section>
				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://twitter.com/piyushbaderia" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/piyushbaderia" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/piyushbaderia/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/baderiapiyush/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{%static 'assets/js/jquery.min.js'%}"></script>
			<script src="{%static 'assets/js/skel.min.js'%}"></script>
			<script src="{%static 'assets/js/util.js'%}"></script>
			<script src="{%static 'assets/js/main.js'%}"></script>

	</body>
</html>
